<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_home"
        android:supportsRtl="true"
        android:theme="@style/Theme.JenuGumpu">

        <!-- Splash Screen -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.JenuGumpu.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main App (with bottom nav) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
